<!--The content below is only a placeholder and can be replaced.-->

<!-- <mat-toolbar>  
    <mat-toolbar-row>
      <span>Application de Ouf</span>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="logged">
      <span>Bienvenue {{ user.pseudo }} !</span>
    </mat-toolbar-row>
</mat-toolbar> -->

<mat-toolbar color="primary">
    <span>
        <mat-icon>home</mat-icon>
        Application de Ouf
    </span>
    <span class="example-fill-remaining-space"></span>
    <span *ngIf="logged">
        Bienvenue {{ user.pseudo }} !
        <button mat-button (click)="logout()">
            <mat-icon>power_off</mat-icon>
        </button>
    </span>
</mat-toolbar>

<div class="content">

    <router-outlet></router-outlet>
<!-- 
    <ng-container *ngIf="logged else login">
        <h2>Bienvenue {{ user.pseudo }} !</h2>
        <app-list-tickets></app-list-tickets>
    </ng-container>
    
    <ng-template #login>
        <app-login (logged)="onLogged($event)"></app-login>
    </ng-template>
-->
</div>

<!--     
<mat-grid-list cols="6" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
 -->
