<mat-card>

    <h2>Bienvenue sur Application de Ouf</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="form.username"
                [ngModelOptions]="{standalone: true}"
                placeholder="Login" type="text">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="form.password"
                [ngModelOptions]="{standalone: true}"
                placeholder="Password" type="password">
        </mat-form-field>
      
        <button mat-raised-button (click)="tryConnection()" type="submit">
            Go !
        </button>
    </form>
    
    <span *ngIf="message">{{ message }}</span>

</mat-card>
